@use "./base"
@use "./colours"

$bp-cards: 40 60 90 130

.cards-list
  display: grid
  grid-template-columns: repeat(1, 1fr)
  gap: base.raster(1)
  padding-left: unset

@each $bp in $bp-cards
  .cards-list
    @media screen and (min-width: #{ $bp }em)
      grid-template-columns: repeat(#{ index($bp-cards, $bp) + 1 }, 1fr)

.card
  background: colours.$content-super-light
  border-radius: base.$roundness
  overflow: hidden
  transition: all base.$contentTrans ease-in-out
  display: inline
  list-style-type: none
  &-hidden
    display: none
  &:hover,
  &:focus
    transform: scale(1.025)
    background: colours.$content-light
  &:active
    background: colours.$site-nav-ind
  &:hover > *,
  &:focus > *,
  &:active > *
    color: colours.$content-text-extra-dark
  &:hover .card-img,
  &:focus .card-img,
  &:active .card-img
    transform: scale(1.5)

  & a,
  & a:visited
    text-decoration: none

  &-img-container
    overflow: hidden

  &-img
    transition: transform base.$contentTrans ease-in-out

  &-title
    display: block
    padding: base.raster(1)
    @include base.font(800, normal, 0.7, body)
    color: colours.$content-running-text

  &-summary
    margin: unset
    padding: 0 base.raster(1) base.raster(1) base.raster(1)
    @include base.font(400, normal, 0.6, body)
    color: colours.$content-running-text
