Should match "window.matchMedia()" in navigation.js
$bp-nav: 45em;

.skip-link {
  position: fixed;
  top: -100vh;
}
.nav-primary {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  background: colours.$site-bg-medium;
  @media screen and (min-width: $bp-nav) {
    top: 0;
    bottom: unset;
    height: auto;
    background: unset;
  }
}
.nav-button-menu {
  @extend %button;
  order: 2;
  width: 100vw;
  background: colours.$content-light;
  color: colours.$content-extra-dark;
  border-radius: unset;
  border: none;
  &:hover,
  &:focus {
    color: colours.$content-text-sec-dark;
    background: colours.$content-bg-sec-medium;
  }
  @media screen and (min-width: $bp-nav) {
    display: none;
  }
}
.nav-primary-list {
  order: 1;
  max-height: 100vh;
  transition: max-height base.$contentTrans ease-in-out;
  margin: unset;
  padding: unset;
  background:
    linear-gradient(260deg, colours.$site-bg-medium, hsla(1, 1%, 1%, 0) 100%),
    linear-gradient(140deg, colours.$site-bg-light, hsla(1, 1%, 1%, 0) 100%),
    linear-gradient(380deg, colours.$site-bg-dark, colours.$site-bg-light 100%);
  box-shadow: 0px 0.4rem 0.8rem hsla(222, 100%, 22%, 0.2);
  @media screen and (min-width: $bp-nav) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 base.window(4);
    // transform: translateY(0);
    // transition: transform base.$contentTrans ease;
    position: relative;
    top: 0;
    // height: 5rem;
    transition: top 1s ease;
  }
  & > li {
    list-style-type: none;
    &:first-child {
      padding: base.window(3) 0 0 0;
    }
    &:last-child {
      padding: 0 0 base.window(3) 0;
    }
    @media screen and (min-width: $bp-nav) {
      flex: 1 0 auto;
      &:first-child,
      &:last-child {
        padding: 0;
      }
    }
  }
}
.nav-closed {
  max-height: 0;
  overflow: hidden;
  @media screen and (min-width: $bp-nav) {
    // transform: translateY(-25vh);
    position: relative;
    height: 5rem;
    top: -5rem;
    // transition: top 1s ease;
  }
}
.nav-link {
  @extend %button;
  display: block;
  padding: base.window(2) base.window(3);
  background: unset;
  color: colours.$content-running-text-bright;
  border: none;
  border-radius: unset;
  @media screen and (min-width: $bp-nav) {
    padding: base.window(2) 0;
    &:hover,
    &:focus {
      background: colours.$site-btn-pri;
      color: colours.$site-btn-ind;
    }
    &:active {
      background: colours.$site-btn-ind;
      color: colours.$site-btn-pri;
    }
  }
}
.active {
  font-style: italic;
  color: colours.$site-btn-ind;
}
