@use "./base"
@use "./colours"

.page-project
  background: colours.$content-bg-light

  & .header
    min-height: unset
    padding: base.$unit base.window(3)

  & .main
    padding: unset

  & .main > *:not(.lightbox)
    padding: base.$unit base.window(3)

  & .heading
    padding: unset
    @include base.font(1000, normal, 1.5, disp)
    color: colours.$content-text-medium
    text-align: center

  & .button-close
    position: absolute
    right: 0
    @include base.font(1000, normal, 0.9, disp)
