@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Regular"), local("FiraSans-Regular"), url("../fonts/subset-FiraSans-Regular.woff2") format("woff2"), url("../fonts/subset-FiraSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Italic"), local("FiraSans-Italic"), url("../fonts/subset-FiraSans-Italic.woff2") format("woff2"), url("../fonts/subset-FiraSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Code Retina"), local("FiraCode-Retina"), url("../fonts/subset-FiraCode-Retina.woff2") format("woff2"), url("../fonts/subset-FiraCode-Retina.woff") format("woff");
  font-weight: 444;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Medium Italic"), local("FiraSans-MediumItalic"), url("../fonts/subset-FiraSans-MediumItalic.woff2") format("woff2"), url("../fonts/subset-FiraSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans SemiBold"), local("FiraSans-SemiBold"), url("../fonts/subset-FiraSans-SemiBold.woff2") format("woff2"), url("../fonts/subset-FiraSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans ExtraBold"), local("FiraSans-ExtraBold"), url("../fonts/subset-FiraSans-ExtraBold.woff2") format("woff2"), url("../fonts/subset-FiraSans-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"), url("../fonts/subset-FiraSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/subset-FiraSans-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Ultra"), local("FiraSans-Ultra"), url("../fonts/subset-FiraSans-Ultra.woff2") format("woff2"), url("../fonts/subset-FiraSans-Ultra.woff") format("woff");
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin-block: unset;
  margin-inline: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0045e6;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 0.7);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.7);
  color: #002270;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-variant-numeric: oldstyle-nums proportional-nums;
}

.landmark {
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.9) calc(1.5vmin * 3);
}

.header {
  min-height: 100vh;
  padding-top: 20vh;
  color: white;
}
.header-form {
  display: block;
  margin: 0 0 -5px 0;
}
.header-form-1 {
  fill: #f7f4f3;
}

.main,
html {
  background: #f7f4f3;
}

.tab-list, .tab-panel-wrapper, section {
  max-width: calc(calc((1rem + 1.5vmin) * 1.5) * 18);
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 1.8) auto;
}

h1,
.subheading-block,
.summary {
  position: relative;
  z-index: 2;
}

h1 {
  margin: unset;
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.9) 0 calc(calc((1rem + 1.5vmin) * 1.5) * 1.8) 0;
  font-weight: 1000;
  font-style: normal;
  font-size: calc((1rem + 0.75vmin) * 2.8);
  line-height: calc(((1rem + 0.75vmin) * 1) * 2.8);
  color: aqua;
  mix-blend-mode: hard-light;
  opacity: 0.85;
}

.subheading-block {
  max-width: calc(calc((1rem + 1.5vmin) * 1.5) * 18);
  margin: 0 0 calc(calc((1rem + 1.5vmin) * 1.5) * 4.5) 0;
}

.subheading {
  font-weight: 600;
  font-style: normal;
  font-size: calc((1rem + 0.75vmin) * 1);
  line-height: calc(((1rem + 0.75vmin) * 1) * 1);
}

.summary {
  display: flex;
  flex-flow: column nowrap;
  max-width: calc(calc((1rem + 1.5vmin) * 1.5) * 18);
  margin: 0 auto;
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 1.2) calc(calc((1rem + 1.5vmin) * 1.5) * 0.6);
  color: #0036b3;
  background: #e6edff;
  border-radius: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  font-weight: 500;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.7);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.7);
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-tabs-top, .nav-button-menu, .nav-link, .button-tertiary, .button-secondary, .button-primary {
  display: inline-block;
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) calc(calc((1rem + 1.5vmin) * 1.5) * 0.9);
  color: white;
  border: solid calc(calc((1rem + 1.5vmin) * 1.5) * 0.12);
  border-radius: calc(1.5vmin * 100);
  font-weight: 800;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 0.7);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.7);
  letter-spacing: calc(calc((1rem + 1.5vmin) * 1.5) * 0.03);
  text-align: center;
  text-decoration: none;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out, border 0.1s ease-in-out;
  cursor: pointer;
}

.button-primary {
  background: #2969ff;
  border-color: #b3c9ff;
}
.button-primary:hover:not(.button-disabled), .button-primary:focus:not(.button-disabled) {
  background: white;
  border-color: #2969ff;
  color: #2969ff;
}
.button-primary:active:not(.button-disabled), .button-primary.selected:not(.button-disabled) {
  background: white;
  border-color: aqua;
  color: #2969ff;
  font-style: italic;
}

.button-secondary {
  background: #d05d0b;
  border-color: #f5b689;
}
.button-secondary:hover:not(.button-disabled), .button-secondary:focus:not(.button-disabled) {
  background: white;
  border-color: #d05d0b;
  color: #d05d0b;
}
.button-secondary:active:not(.button-disabled), .button-secondary.selected:not(.button-disabled) {
  background: white;
  border-color: aqua;
  color: #d05d0b;
  font-style: italic;
}

.button-tertiary {
  background: #e7fafe;
  border-color: #6ee0f7;
  color: #008099;
}
.button-tertiary:hover:not(.button-disabled), .button-tertiary:focus:not(.button-disabled) {
  background: white;
  border-color: #0e0ef4;
  color: #0e0ef4;
}
.button-tertiary:active:not(.button-disabled), .button-tertiary.selected:not(.button-disabled) {
  background: white;
  border-color: aqua;
  color: #2969ff;
  font-style: italic;
}

.button-disabled {
  filter: grayscale(100%) contrast(35%) brightness(150%);
}

::selection {
  background: #ffc499;
}

*:focus:not([class]) {
  outline: calc(calc((1rem + 1.5vmin) * 1.5) * 0.06) dashed #4e83fd;
}

a:not([class]),
a:visited:not([class]) {
  color: #cc4400;
}

a:hover:not([class]),
a:focus:not([class]) {
  color: #4e83fd;
}

a:active:not([class]) {
  color: aqua;
  background: unset;
}

h2,
h3,
h4 {
  margin: unset;
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.9) 0 calc(calc((1rem + 1.5vmin) * 1.5) * 1.2) 0;
}

h2 {
  text-align: center;
  font-weight: 800;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 1.3);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 1.3);
  color: #4e83fd;
}

h3 {
  font-weight: 800;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 1.1);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 1.1);
  color: #0949dc;
}

h4 {
  font-weight: 800;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 0.9);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.9);
  color: #0036b3;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.profile-img {
  clip-path: circle(43%);
  width: 15rem;
  float: left;
  margin-left: 0;
}

ol,
ul,
dl {
  margin-block-start: unset;
  margin-block-end: unset;
  padding: 0 0 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.6);
  list-style-position: outside;
}

ul ul,
ol ol {
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) calc(calc((1rem + 1.5vmin) * 1.5) * 0.6);
  color: #4669b9;
}

p {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.6) 0;
}

em {
  font-weight: 400;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.7);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.7);
}

strong {
  font-weight: 500;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.7);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.7);
}

dd {
  margin: 0;
  padding: 0 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) 0;
}

dt,
th {
  padding: 0 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.12) 0;
  color: #cc4400;
  font-weight: 500;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.75);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.75);
  font-variant-numeric: oldstyle-nums tabular-nums;
}

pre {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 1.2) 0;
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.6);
  overflow-x: auto;
  background: #f9fbfb;
  border-left: solid 8px #4e83fd;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  font-weight: 444;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 0.6);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.6);
  color: #0036b3;
}

blockquote {
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.6) calc(calc((1rem + 1.5vmin) * 1.5) * 1.2);
  font-weight: 400;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.7);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.7);
}

figure {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 1.2) 0;
}

figcaption {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.6) 0;
  font-weight: 500;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.6);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.6);
}

hr {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.6) 0;
  border-top: 0.1rem solid #cc4400;
}

.footnote-ref {
  color: #cc4400;
  font-weight: 800;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.6);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.6);
  text-decoration: none;
}

.footnotes ol {
  list-style: none;
  counter-reset: my-counter;
}
.footnotes ol li {
  counter-increment: my-counter;
  padding: 0 0 0 0.5rem;
}
.footnotes ol li::marker {
  content: counter(my-counter) ".";
  color: #cc4400;
  font-weight: 800;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.7);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.7);
}

.bubble-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
}

.bub-arr-1 {
  fill: url(#Bubble_Hero_3);
}

.bub-arr-2 {
  fill: url(#Bubble_Hero_3-2);
}

.bub-arr-3 {
  fill: url(#Bubble_Hero_4);
}

.bub-cog-1 {
  fill: url(#Bubble_Hero);
}

.bub-hea-bg {
  fill: #0045e6;
}

.bub-pla-bg {
  fill: url(#Bubble_Hero);
}

.bub-sca-1 {
  isolation: isolate;
}

.bub-sca-2 {
  fill: url(#Bubble_Hero);
}

.bub-sca-3 {
  mix-blend-mode: overlay;
}

.bub-sca-4 {
  fill: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  padding-left: unset;
}

@media screen and (min-width: 40em) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 90em) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 130em) {
  .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  background: #e6edff;
  border-radius: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  transition: all 0.2s ease-in-out;
  display: inline;
  list-style-type: none;
}
.card-hidden {
  display: none;
}
.card:hover, .card:focus {
  transform: scale(1.025);
  background: #b3c9ff;
}
.card:active {
  background: aqua;
}
.card:hover > *, .card:focus > *, .card:active > * {
  color: #0036b3;
}
.card:hover .card-img-img, .card:focus .card-img-img, .card:active-img {
  transform: scale(1.5);
}

.card a,
.card a:visited {
  text-decoration: none;
}

.card-img-container {
  overflow: hidden;
  border-radius: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) 0 0;
}

.card-img {
  transition: transform 0.2s ease-in-out;
}

.card-title {
  display: block;
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  font-weight: 800;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 0.7);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.7);
  color: #002270;
}

.card-summary {
  margin: unset;
  padding: 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  font-weight: 400;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 0.6);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.6);
  color: #002270;
}

.footer {
  display: grid;
  row-gap: calc(calc((1rem + 1.5vmin) * 1.5) * 0.8);
  font-weight: 400;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 0.6);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.6);
  font-variant-numeric: lining-nums proportional-nums;
  color: white;
  background: linear-gradient(260deg, #0045e6, rgba(3, 3, 3, 0) 100%), linear-gradient(140deg, #00d5ff, rgba(3, 3, 3, 0) 100%), linear-gradient(380deg, #0e0ef4, rgba(3, 3, 3, 0) 100%);
}
@media screen and (min-width: 60em) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    column-gap: calc(calc((1rem + 1.5vmin) * 1.5) * 0.8);
  }
}
.footer a:not([class]),
.footer a:visited:not([class]) {
  color: white;
}
.footer a:hover:not([class]),
.footer a:focus:not([class]) {
  color: aqua;
}
.footer a:active:not([class]) {
  color: #ffc499;
}

.footer *:focus:not([class]) {
  outline: calc(calc((1rem + 1.5vmin) * 1.5) * 0.1) dashed white;
}

.footer strong {
  font-weight: 500;
  font-style: italic;
  font-size: calc((1rem + 1.5vmin) * 0.6);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.6);
}

.footer > section {
  max-width: unset;
  margin: 1rem 0;
}

.footer .button-top,
.footer .footline {
  margin: 0 auto;
}
@media screen and (min-width: 60em) {
  .footer .button-top,
.footer .footline {
    grid-column: 1/4;
  }
}

.footer .contact-info li {
  list-style-type: none;
}

.footer ul {
  padding: unset;
}

.footer .contact-info-list-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: calc(calc((1rem + 1.5vmin) * 1.5) * 0.4);
}

.footer .contact-info-entry-list {
  margin: 0 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.4) 0;
  padding: unset;
}
.footer .contact-info-entry-list-item {
  display: flex;
  flex-flow: row wrap;
}

.footer .contact-info-entry {
  flex: 0 1 auto;
  width: calc(calc((1rem + 1.5vmin) * 1.5) * 2.4);
  color: #d1dfff;
}

.footer .icon-container {
  flex: 0 1 0;
  display: inline;
  margin: 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.2) 0 0;
}

.footer .contact-info-entry-list-item p {
  margin: 0 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.4) 0;
}

.footer .icon {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * -0.1) 0 0 0;
  width: calc(calc((1rem + 1.5vmin) * 1.5) * 0.8);
}

.icon {
  width: 100%;
}
.icon-background {
  fill: #e6edff;
}

.app-info-1 {
  fill: #e6edff;
}

.app-info-2 {
  fill: none;
  stroke: #b3c9ff;
}

.app-info-2,
.app-info-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}
.app-info-2,
.app-info-3 {
  fill: white;
  stroke: #0036b3;
}

.app-cert-1 {
  fill: #e6edff;
}

.app-cert-2,
.app-cert-3,
.app-cert-4 {
  fill: white;
  stroke-width: 20px;
}

.app-cert-2 {
  stroke: #0036b3;
}

.app-cert-2,
.app-cert-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.app-cert-3,
.app-cert-4 {
  stroke: #b3c9ff;
}
.app-cert-3,
.app-cert-4 {
  stroke-miterlimit: 10;
}

.app-cv-1 {
  fill: #e6edff;
}

.app-cv-2,
.app-cv-3 {
  fill: white;
}

.app-cv-3,
.app-cv-5 {
  stroke: #b3c9ff;
}

.app-cv-3,
.app-cv-4,
.app-cv-5 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.app-cv-4 {
  fill: none;
  stroke: #0036b3;
}

.app-kno-1 {
  fill: #e6edff;
}

.app-kno-2 {
  fill: white;
}

.app-kno-2,
.app-kno-5 {
  stroke: #0036b3;
}

.app-kno-2,
.app-kno-3,
.app-kno-4,
.app-kno-5 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.app-kno-3 {
  fill: none;
}

.app-kno-3,
.app-kno-4 {
  stroke: #b3c9ff;
}

.app-por-1 {
  fill: #e6edff;
}

.app-por-2,
.app-por-3 {
  fill: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.app-por-2 {
  stroke: #0036b3;
}

.app-por-3 {
  stroke: #b3c9ff;
}

.app-ref-1 {
  fill: #e6edff;
}

.app-ref-2,
.app-ref-3 {
  fill: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.app-ref-2 {
  stroke: #b3c9ff;
}

.app-ref-3 {
  stroke: #0036b3;
}

.ben-1,
.ben-2 {
  fill: white;
  stroke: #b3c9ff;
}

.ben-1,
.ben-3 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.ben-1,
.ben-2,
.ben-3 {
  stroke-width: 12px;
}

.ben-2 {
  stroke-miterlimit: 10;
}

.ben-3 {
  fill: #b3c9ff;
  stroke: #0036b3;
}

.gra-1 {
  fill: #e6edff;
}

.gra-2,
.gra-5 {
  fill: white;
}

.gra-3,
.gra-4 {
  fill: none;
}

.gra-3 {
  stroke: #b3c9ff;
}

.gra-3,
.gra-4,
.gra-5 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.gra-4,
.gra-5 {
  stroke: #0036b3;
}

.web-1 {
  fill: #e6edff;
}

.web-2,
.web-4 {
  fill: none;
}

.web-2,
.web-3 {
  stroke: #0036b3;
}

.web-2,
.web-3,
.web-4,
.web-5 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.web-3,
.web-5 {
  fill: white;
}

.web-4,
.web-5 {
  stroke: #b3c9ff;
}

.gra-con-1 {
  fill: #e6edff;
}

.gra-con-2,
.gra-con-3 {
  fill: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.gra-con-2 {
  stroke: #0036b3;
}

.gra-con-3 {
  stroke: #b3c9ff;
}

.gra-ill-1 {
  fill: #e6edff;
}

.gra-ill-2,
.gra-ill-6,
.gra-ill-7 {
  fill: white;
}

.gra-ill-3,
.gra-ill-4,
.gra-ill-5 {
  fill: none;
}

.gra-ill-3,
.gra-ill-7 {
  stroke: #b3c9ff;
}

.gra-ill-3,
.gra-ill-5 {
  stroke-miterlimit: 10;
}

.gra-ill-3,
.gra-ill-4,
.gra-ill-5,
.gra-ill-6,
.gra-ill-7 {
  stroke-width: 20px;
}

.gra-ill-4,
.gra-ill-5,
.gra-ill-6 {
  stroke: #0036b3;
}

.gra-ill-4,
.gra-ill-6,
.gra-ill-7 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.gra-ima-1 {
  fill: #e6edff;
}

.gra-ima-2,
.gra-ima-3 {
  fill: white;
}

.gra-ima-2,
.gra-ima-4 {
  stroke: #0036b3;
}

.gra-ima-2,
.gra-ima-3,
.gra-ima-6 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.gra-ima-2,
.gra-ima-3,
.gra-ima-4,
.gra-ima-5,
.gra-ima-6 {
  stroke-width: 20px;
}

.gra-ima-3,
.gra-ima-5,
.gra-ima-6 {
  stroke: #b3c9ff;
}

.gra-ima-4,
.gra-ima-5,
.gra-ima-6 {
  fill: none;
}

.gra-ima-4,
.gra-ima-5 {
  stroke-miterlimit: 10;
}

.gra-pri-1 {
  fill: #e6edff;
}

.gra-pri-2,
.gra-pri-3 {
  fill: white;
}

.gra-pri-2 {
  stroke: #0036b3;
}

.gra-pri-2,
.gra-pri-3,
.gra-pri-4 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.gra-pri-3,
.gra-pri-4 {
  stroke: #b3c9ff;
}
.gra-pri-3,
.gra-pri-4 {
  fill: none;
}

.gra-typ-1 {
  fill: #e6edff;
}

.gra-typ-2,
.gra-typ-3 {
  fill: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.gra-typ-2 {
  stroke: #0036b3;
}

.web-bac-1 {
  fill: #e6edff;
}

.web-bac-2 {
  fill: white;
}

.web-bac-2,
.web-bac-3 {
  stroke: #0036b3;
}

.web-bac-2,
.web-bac-3,
.web-bac-4 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.web-bac-3,
.web-bac-4 {
  fill: none;
}
.web-bac-3,
.web-bac-4 {
  stroke: #b3c9ff;
}

.web-con-1 {
  fill: #e6edff;
}

.web-con-2,
.web-con-5 {
  fill: white;
}

.web-con-2,
.web-con-4 {
  stroke: #0036b3;
}

.web-con-2,
.web-con-3,
.web-con-4,
.web-con-5 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.web-con-3,
.web-con-4 {
  fill: none;
}

.web-con-3,
.web-con-5 {
  stroke: #b3c9ff;
}

.web-fro-1 {
  fill: #e6edff;
}

.web-fro-2,
.web-fro-3 {
  fill: white;
}

.web-fro-2,
.web-fro-5 {
  stroke: #b3c9ff;
}

.web-fro-2,
.web-fro-3,
.web-fro-6 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.web-fro-2,
.web-fro-3,
.web-fro-4,
.web-fro-5,
.web-fro-6 {
  stroke-width: 20px;
}

.web-fro-3,
.web-fro-4,
.web-fro-6 {
  stroke: #0036b3;
}

.web-fro-4,
.web-fro-5,
.web-fro-6 {
  fill: none;
}

.web-fro-4,
.web-fro-5 {
  stroke-miterlimit: 10;
}

.web-mai-1 {
  fill: #e6edff;
}

.web-mai-2 {
  fill: none;
  stroke-width: 36px;
}

.web-mai-2,
.web-mai-3 {
  stroke: #0036b3;
}

.web-mai-2,
.web-mai-3,
.web-mai-4 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.web-mai-3,
.web-mai-4 {
  fill: white;
  stroke-width: 20px;
}
.web-mai-3,
.web-mai-4 {
  stroke: #b3c9ff;
}

.web-seo-1 {
  fill: #e6edff;
}

.web-seo-2,
.web-seo-3 {
  fill: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 20px;
}

.web-seo-2 {
  stroke: #0036b3;
}

.web-seo-3 {
  stroke: #b3c9ff;
}

.skip-link {
  position: fixed;
  top: -100vh;
}

.nav-pri {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0045e6;
}
@media screen and (min-width: 45em) {
  .nav-pri {
    top: 0;
    bottom: unset;
    height: auto;
    background: unset;
  }
}

.nav-button-menu {
  order: 2;
  width: 100vw;
  background: #d1dfff;
  color: #2969ff;
  border-radius: unset;
  border: none;
}
.nav-button-menu:hover, .nav-button-menu:focus {
  color: #cc4400;
  background: #ffc499;
}
@media screen and (min-width: 45em) {
  .nav-button-menu {
    display: none;
  }
}

.nav-pri-list {
  order: 1;
  max-height: 100vh;
  transition: max-height 0.2s ease-in-out;
  margin: unset;
  padding: unset;
  background: linear-gradient(260deg, #0045e6, rgba(3, 3, 3, 0) 100%), linear-gradient(140deg, #00d5ff, rgba(3, 3, 3, 0) 100%), linear-gradient(380deg, #0e0ef4, #00d5ff 100%);
  box-shadow: 0px 0.4rem 0.8rem rgba(0, 34, 112, 0.2);
}
@media screen and (min-width: 45em) {
  .nav-pri-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 calc(1.5vmin * 4);
    transform: translateY(0);
    transition: transform 0.2s ease;
  }
}

.nav-menu-closed {
  max-height: 0;
  overflow: hidden;
}
@media screen and (min-width: 45em) {
  .nav-menu-closed {
    transform: translateY(-25vh);
  }
}

.nav-item {
  list-style-type: none;
}
.nav-item:first-child {
  padding: calc(1.5vmin * 3) 0 0 0;
}
.nav-item:last-child {
  padding: 0 0 calc(1.5vmin * 3) 0;
}
@media screen and (min-width: 45em) {
  .nav-item {
    flex: 1 0 auto;
  }
  .nav-item:first-child, .nav-item:last-child {
    padding: 0;
  }
}

.nav-link {
  display: block;
  padding: calc(1.5vmin * 2) calc(1.5vmin * 3);
  background: unset;
  color: white;
  border: none;
  border-radius: unset;
}
.nav-link:hover, .nav-link:focus {
  background: #2969ff;
  color: aqua;
}
.nav-link:active {
  background: aqua;
  color: #2969ff;
}
@media screen and (min-width: 45em) {
  .nav-link {
    padding: calc(1.5vmin * 2) 0;
  }
}

.active {
  font-style: italic;
  color: aqua;
}

.tab-list {
  max-width: calc(calc((1rem + 1.5vmin) * 1.5) * 18);
  margin: 0 auto;
  padding-left: unset;
}
@media screen and (min-width: 45em) {
  .tab-list {
    display: flex;
    flex-flow: row wrap;
    margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) auto;
    border-radius: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  }
}

.tab-list-item {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) auto;
  border-radius: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  background: #d1dfff;
  list-style: none;
}
@media screen and (min-width: 45em) {
  .tab-list-item {
    flex: 1 1 auto;
    margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.15);
  }
}
.tab-list-item:hover, .tab-list-item:focus {
  background: #ffc499;
}
.tab-list-item:hover *, .tab-list-item:focus * {
  color: #cc4400;
}

.tab-list-item-open {
  background: #b3c9ff;
}
.tab-list-item-open h2 {
  color: #0949dc;
}

.tab {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  color: #2969ff;
}
@media screen and (min-width: 45em) {
  .tab {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
  }
}
.tab:link, .tab:visited {
  text-decoration: unset;
  color: #2969ff;
}
.tab:hover, .tab:focus {
  outline: none;
}
.tab:active {
  font-style: italic;
}

.tab .icon-container {
  justify-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: unset;
}

.tab .icon {
  align-self: center;
  width: calc(calc((1rem + 1.5vmin) * 1.5) * 1.8);
}
@media screen and (min-width: 45em) {
  .tab .icon {
    width: calc(calc((1rem + 1.5vmin) * 1.5) * 0.9);
  }
}

.tab h2 {
  align-self: center;
  padding: unset;
  text-align: left;
  font-weight: 800;
  font-style: normal;
  font-size: calc((1rem + 1.5vmin) * 1.1);
  line-height: calc(((1rem + 1.5vmin) * 1.5) * 1.1);
}
@media screen and (min-width: 45em) {
  .tab h2 {
    padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.15) 0 0 0;
    font-weight: 800;
    font-style: normal;
    font-size: calc((1rem + 1.5vmin) * 0.9);
    line-height: calc(((1rem + 1.5vmin) * 1.5) * 0.9);
  }
}

.tab-panel {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: calc(calc((1rem + 1.5vmin) * 1.5) * 18);
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.15) auto;
  border-radius: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  background: #f3eeec;
}
.tab-panel-closed {
  display: none;
}
.tab-panel-wrapper {
  width: 100%;
}

.button-tabs-top {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) auto;
}

.tab-panel p {
  margin-top: unset;
}

.tab-panel ul,
.tab-panel ol {
  list-style-position: inside;
}
@media screen and (min-width: 45em) {
  .tab-panel ul,
.tab-panel ol {
    list-style-position: outside;
  }
}

.tab-panel-info dl,
.tab-panel-cv dl,
.tab-panel-knowledge dl,
.tab-panel-portfolio .tab-panel-wrapper,
.tab-panel-references .tab-panel-wrapper {
  display: grid;
}
@media screen and (min-width: 45em) {
  .tab-panel-info dl,
.tab-panel-cv dl,
.tab-panel-knowledge dl,
.tab-panel-portfolio .tab-panel-wrapper,
.tab-panel-references .tab-panel-wrapper {
    grid-template-columns: 20% 1fr;
    column-gap: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  }
}

.tab-panel-portfolio .tab-panel-wrapper,
.tab-panel-references .tab-panel-wrapper {
  grid-auto-flow: row;
}
@media screen and (min-width: 45em) {
  .tab-panel-portfolio .tab-panel-wrapper,
.tab-panel-references .tab-panel-wrapper {
    grid-auto-flow: column;
  }
}

.tab-panel dd,
.tab-panel-portfolio p,
.tab-panel-references p {
  padding: 0 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.6) 0;
}
@media screen and (min-width: 45em) {
  .tab-panel dd,
.tab-panel-portfolio p,
.tab-panel-references p {
    grid-column: 2/3;
  }
}

.tab-panel-portfolio .tab-panel-image,
.tab-panel-references .tab-panel-image {
  width: 50%;
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.6) auto;
}
@media screen and (min-width: 45em) {
  .tab-panel-portfolio .tab-panel-image,
.tab-panel-references .tab-panel-image {
    grid-column: 1/2;
    width: 100%;
    margin: unset;
  }
}

.tab-panel ul ul {
  padding: 0 0 0 calc(calc((1rem + 1.5vmin) * 1.5) * 0.6);
  color: #4669b9;
}

.tab-panel table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-variant-numeric: lining-nums tabular-nums;
}

.tab-panel th:nth-child(1) {
  width: 50%;
}

.tab-panel th:nth-child(2) {
  width: 30%;
}

.tab-panel th:nth-child(3) {
  width: 20%;
}

.tab-panel th {
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.15);
  background: #f7f4f3;
  text-align: left;
}

.tab-panel tbody tr:nth-child(even) {
  background: #f7f4f3;
}

.tab-panel td {
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.15);
}

.tab-panel-working-method .content-h3 {
  padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) auto;
  border-radius: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  background: #f3eeec;
}

.tab-panel-working-method h3 {
  text-align: center;
}

@media screen and (min-width: 45em) {
  .tab-panel-working-method .content-h3 > dl {
    display: grid;
    grid-template-columns: 15% 1fr;
    column-gap: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
  }
}

.tab-panel-working-method .content-h3 > dl > dt {
  text-align: center;
}
@media screen and (min-width: 45em) {
  .tab-panel-working-method .content-h3 > dl > dt {
    text-align: unset;
  }
}

@media screen and (min-width: 45em) {
  .tab-panel-working-method .content-h3 > dl > dd {
    grid-column: 2/3;
  }
}

.tab-panel-working-method .content-h4 {
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3) auto;
  border-radius: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
}
@media screen and (min-width: 45em) {
  .tab-panel-working-method .content-h4 {
    padding: calc(calc((1rem + 1.5vmin) * 1.5) * 0.3);
    background: #f0f4ff;
  }
}

.tab-panel-working-method .icon-container {
  display: flex;
  justify-content: space-around;
  width: calc(calc((1rem + 1.5vmin) * 1.5) * 2.4);
  margin: calc(calc((1rem + 1.5vmin) * 1.5) * 0.9) auto calc(calc((1rem + 1.5vmin) * 1.5) * 0.6) auto;
}
@media screen and (min-width: 45em) {
  .tab-panel-working-method .icon-container {
    grid-row: span 2;
    align-self: start;
    justify-content: flex-end;
    width: 100%;
    margin: unset;
  }
}

.tab-panel-working-method .icon-benefits {
  width: calc(calc((1rem + 1.5vmin) * 1.5) * 1.5);
}
@media screen and (min-width: 45em) {
  .tab-panel-working-method .icon-benefits {
    width: calc(calc((1rem + 1.5vmin) * 1.5) * 0.9);
  }
}

/*# sourceMappingURL=root.css.map */
